.content{
    background-color: bisque;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
}

.navbar{
    grid-area: header;
    background-color: black;
    color: aqua;
    text-align: center;
}

.content-list{
    grid-area: main;
    background-color: aliceblue;
    margin-left: 1em;
    max-height: 100%;
    overflow: scroll;
}

.content-details{
    grid-area: aside;
    background-color: aquamarine;
    max-height: 100%;
}

footer{
    grid-area: footer;
    background-color: black;
    color: aqua;
    
}


.button{
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
}

.button-details{
    margin: 0.2em;
    padding: 0.3em 1em 0.3em 1em;
    border-radius: 10px;
    max-width: 3em;
}

.button-details:hover{
    background-color: rgb(127, 255, 212, 0.5);
}

.deleteButton:hover{
    background-color: rgb(255, 0, 0);
}


/*list section specific css*/
li{
    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(128, 128, 128, 1);
    list-style: none;
}

.content-list{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.content-list h2,
.content-list li{
    align-self: center;
}

.content-list li{
    min-width: 30em;
    text-align: center;
}

#bolded{
    font-weight: bold;
}


/*details section specific css*/
.content-details{
    display: flex;
    flex-direction: column;
    text-align:justify;
    border: 1px solid lightgrey;
    background-color: aliceblue;
    margin-right: 1em;
}

.content-details h2{
    margin-left: 10px;
}

#saveButton,
#clearButton{
    margin-left: 1em;
}

#field1,
#field2,
#field3{
    max-width: 7em;
}

#field4{
    max-width: 2em;
}

label{
    margin-left: 1em;
}



#field1,
#field2,
#field3,
#field4,
#field5{
    margin: 1em 1em 1em 1em;
}

img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

footer{
    text-align: center;
}