.content{
    background-color: bisque;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
}

.navbar{
    grid-area: header;
    background-color: black;
    color: aqua;
}

.content-list{
    grid-area: main;
    background-color: aliceblue;
}

aside{
    grid-area: aside;
    background-color: aquamarine;
}

footer{
    grid-area: footer;
    background-color: aqua;
}

.button{
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
}

.button-details{
    margin: 0.2em;
    padding: 0.3em 1em 0.3em 1em;
    border-radius: 10px;
}

.button-details:hover{
    background-color: rgb(127, 255, 212, 0.5);
}

.button:hover{
    background-color: rgb(127, 255, 212, 0.5);
}